[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url=git@github.com:GerHobbelt/jbig2dec.git
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url=git@github.com:GerHobbelt/mujs.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url=git@github.com:GerHobbelt/thirdparty-freetype2.git
[submodule "thirdparty/gumbo-parser"]
	path = thirdparty/gumbo-parser
	url=git@github.com:GerHobbelt/gumbo-parser.git
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url=git@github.com:GerHobbelt/thirdparty-harfbuzz.git
[submodule "thirdparty/jpeg"]
	path = thirdparty/libjpeg
	url=git@github.com:GerHobbelt/thirdparty-libjpeg.git
[submodule "thirdparty/lcms2"]
	path = thirdparty/lcms2
	url=git@github.com:GerHobbelt/thirdparty-lcms2.git
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url=git@github.com:GerHobbelt/thirdparty-openjpeg.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url=git@github.com:GerHobbelt/thirdparty-zlib.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = git@github.com:GerHobbelt/thirdparty-curl.git
[submodule "thirdparty/freeglut"]
	path = thirdparty/freeglut
	url=git@github.com:GerHobbelt/thirdparty-freeglut.git
[submodule "thirdparty/leptonica"]
	path = thirdparty/leptonica
	url = git@github.com:GerHobbelt/leptonica.git
[submodule "thirdparty/tesseract"]
	path = thirdparty/tesseract
	url = git@github.com:GerHobbelt/tesseract.git
[submodule "thirdparty/libtiff"]
	path = thirdparty/libtiff
	url = git@github.com:GerHobbelt/libtiff.git
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = git@github.com:GerHobbelt/libpng.git
[submodule "thirdparty/extract"]
	path = thirdparty/extract
	url = git@github.com:GerHobbelt/thirdparty_extract.git
